@import "../../css/breakpoints";
@import "../../css/icons";


.actions-container {
  display: flex;
  align-items: center;
  margin: 20px;
  & > * {
    margin-right: 10px;
  }
}

h2 {
  margin: 40px 0 0 20px;
}

.table {
  width: 100%;

  .mat-column-date, .mat-column-amount {
    width: 10%;
    font-weight: 500;
  }


  .mat-column-pointed {
    width: 5%;
  }

  .mat-column-globalAmount {
    width: 10%;
  }

  .mat-column-actions {
    width: 5%;
  }

  .mat-column-description, .mat-column-type {
    width: 30%;
  }

  tr:nth-child(even) {
    background-color: #fcfcfc;
  }

  td, th {
    @include breakpoint(mobileonly) {
      ::ng-deep &.mat-cell, ::ng-deep &.mat-header-cell {
        &:first-of-type, &:last-of-type {
          padding: 0;
        }
      }
    }
  }

  td {
    font-size: 0.90em;

    &.negative {
      color: red;
    }

    &.positive {
      color: green;
      &.amount {
        text-align: right;
        @include breakpoint(phablet) {
          padding-right: 30px;
        }
      }
    }

    &.bold {
      font-weight: 500;
    }

    .to {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: cadetblue;
      font-size: 0.85em;
      .mat-icon {
        margin-right: 5px;
        @include icon-size(20px);
      }
    }
  }
}
