<mat-drawer-container autosize>
  <mat-drawer #drawer mode="push">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2>Comptabox</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['/list']"
         routerLinkActive="list-item-active">
        <mat-icon matListIcon> list_alt </mat-icon>
        Liste des comptes
      </a>

      <ng-container *ngIf="accountGroups$ | async as accountGroups">
        <div *ngFor="let accountGroup of accountGroups">
          <h3 matSubheader>{{AccountTypeI18N[accountGroup.type]}}</h3>
          <a *ngFor="let account of accountGroup.accounts"
            mat-list-item
            [routerLink]="['/account', account.documentId]"
            routerLinkActive="list-item-active">
            <mat-icon matListIcon> {{ AccountTypeIcon[accountGroup.type] }} </mat-icon>
            {{account.name}}
          </a>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    Comptabox
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-drawer-container>




