@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './css/_breakpoints.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-icon.green {
  color: green;
}

a {
  text-decoration: none;
}

.fullWidthForMobile {
  @include breakpoint(mobileonly) {
    max-width: 100% !important;
    width: 100%;
  }
}
