<div class="account-section">
  <h1>{{accountsNameMap?.get(accountDocumentId)}}
    <button mat-mini-fab color="primary" class="mini-fab" [routerLink]="['/charts/account-chart', accountDocumentId]"><mat-icon fontIcon="show_chart"></mat-icon></button>
  </h1>
  <div class="parts">
    <div class="part">
      <div>Solde pointé : <span class="bold">{{pointedAmount | currency}}</span></div>
      <div>Solde rapproché : <span class="bold">{{closedAmount | currency}}</span></div>
      <a class="rapprocher" (click)="closeOperationDialog()">
        <mat-icon>arrow_forward</mat-icon>
        Rapprocher
      </a>
    </div>
    <div class="part">
      <span class="solde"><span>Solde fin du mois&nbsp;:&nbsp;</span><span [class.negative]="theoricalAmount < 0" [class.positive]="theoricalAmount >= 0">{{theoricalAmount | currency}}</span></span>
    </div>
  </div>
</div>
<div class="actions-container">
  <button mat-raised-button color="primary" (click)="openOperationDialog('CREATE')">Ajouter une operation</button>
  <mat-slide-toggle [(ngModel)]="filter.pointedOperationFilter" (change)="patchFilter()">Opération non pointé</mat-slide-toggle>
  <mat-form-field appearance="fill" class="hide-mobile">
    <mat-label>Nombre de mois affichés</mat-label>
    <input type="number" matInput [(ngModel)]="filter.monthToShow" (change)="patchFilter()" />
  </mat-form-field>
</div>

<ng-container *ngIf="operations$ | async as operations">
  <ng-container *ngFor="let month of months">
    <ng-container *ngIf="operationForMonth(operations, month).length > 0">
      <h2>{{month | appDate: 'MMMM YYYY'}}</h2>
      <table mat-table [dataSource]="operationForMonth(operations, month)" class="table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element">
            <span class="desktop">{{element.date | appDate: 'dd MMM YYYY' }}</span>
            <span class="mobile">{{element.date | appDate: 'dd/MM' }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
            <div>{{getCategory(element)}}</div>
            <div>{{element.info}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element">
            <div>{{OperationTypeI18N[element.type]}}</div>
            <div class="to" *ngIf="element.accountRef">
              <mat-icon>compare_arrows</mat-icon>
              <span>{{accountsNameMap.get(element.accountRef)}}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Montant </th>
          <td mat-cell *matCellDef="let element" class="amount" [class.positive]="element.amount > 0" [class.negative]="element.amount < 0"> {{element.amount | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="pointed">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.status === OperationStatus.CLOSED; else elseStatus">
              <mat-icon class="green">checked</mat-icon>
            </ng-container>
            <ng-template #elseStatus>
              <mat-checkbox [checked]="element.status === OperationStatus.POINTED" (change)="toggleStatus(element)"></mat-checkbox>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="globalAmount">
          <th mat-header-cell *matHeaderCellDef> Solde </th>
          <td mat-cell *matCellDef="let element" class="bold" [class.negative]="element.globalAmount < 0" [class.positive]="element.globalAmount > 0"> {{element.globalAmount | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="deleteOperation(element)">Supprimer</button>
              <button mat-menu-item (click)="editOperation(element)">Editer</button>
              <button mat-menu-item (click)="cloneOperation(element)">Dupliquer</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
  </ng-container>

</ng-container>
