@import "../../css/breakpoints";
@import "../../css/icons";

.hide-mobile {
  @include breakpoint(mobileonly) {
    display: none;
  }
}

.account-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid lightgrey;
  margin: 30px 20px;
  padding: 24px 10px;
  @include breakpoint(phablet) {
    padding: 24px;
  }

  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #673ab7;
    font-weight: 500;
    .mini-fab {
      width: 30px;
      height: 30px;
      line-height: 14px;
      font-size: 14px;
      margin-left: 15px;

      &::ng-deep .mat-button-wrapper{
        line-height: 14px;
        padding: 0;

        .mat-icon {
          font-size: 20px;
          padding-top: 4px;
        }
      }
    }

  }

  .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint(mobileonly) {
      flex-direction: column;

      .part:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  .bold {
    font-weight: 500;
  }

  .rapprocher {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #673ab7;
    cursor: pointer;
    .mat-icon {
      @include icon-size(18px);
    }
  }

  .solde {
    font-size: 1.8em;
    .positive {
      color: green;
    }
    .negative {
      color: red;
    }
  }
}

.actions-container {
  display: flex;
  align-items: center;
  margin: 20px;
  & > * {
    margin-right: 10px;
  }
}

h2 {
  margin: 40px 0 0 20px;
}

.table {
  width: 100%;

  .mat-column-date, .mat-column-amount {
    width: 10%;
    font-weight: 500;
  }


  .mat-column-pointed {
    width: 5%;
  }

  .mat-column-globalAmount {
    width: 10%;
  }

  .mat-column-actions {
    width: 5%;
  }

  .mat-column-description, .mat-column-type {
    width: 30%;
  }

  tr:nth-child(even) {
    background-color: #fcfcfc;
  }

  td, th {
    @include breakpoint(mobileonly) {
      ::ng-deep &.mat-cell, ::ng-deep &.mat-header-cell {
        &:first-of-type, &:last-of-type {
          padding: 0;
        }
      }
    }
  }

  td {
    font-size: 0.90em;

    &.negative {
      color: red;
    }

    &.positive {
      color: green;
      &.amount {
        text-align: right;
        @include breakpoint(phablet) {
          padding-right: 30px;
        }
      }
    }

    &.bold {
      font-weight: 500;
    }

    .to {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: cadetblue;
      font-size: 0.85em;
      .mat-icon {
        margin-right: 5px;
        @include icon-size(20px);
      }
    }
  }
}
